/*adds a border around the whole webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets the color of the background*/
body {
    background-color: #ffffff;
}
.header nav {
    position: absolute;
    top: 0%;
    font-family: Courier, monospace;
    font-size: 30px;
}
.header nav ul {
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 350px;
    color: azure;
}
.header a {
    color: azure;
    text-decoration: none;
}
.header {
    position: relative;
}

.header-img {
    width: 100%;
    height: auto;
}
.Avatar {
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-top: -15%;
    margin-left: 5%;
    border-radius: 50%;
}
.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9rem;
    color: azure;
    font-family: Courier, monospace;
}
main {
    font-family: Courier, monospace;
}
.page-grid {
    margin: 20px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,  1fr);
    grid-template-rows: repeat(3,  1fr);
    justify-items: center;
    
}
section h2 {
    color: #FF6F00;
    font-size: 4rem;
    width: 400px;
}
section p {
    margin: 20px;
    font-size: 20px;
    width: 400px;
}
.Contact-info ul {
    width: 400px;
    margin: 20px;
    list-style: none;
}

.Contact-info {
    grid-column-start: 2;
    grid-row-start: -2;
}
.Contact {
    grid-column-start: 1;
    grid-row-start: -2;
}
.Work-Grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    margin: 20px;

}
.images {
    height: 175px;
    width: 300px;
}
.Work-Grid h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgb(255, 237, 197);
    font-family: Courier, monospaced;
    display: none;
    background-color: #FF6F00;
    border-radius: 5%;
}
.images {
    position: relative;
}
.images:hover h3 {
    display: block;
}
.images:hover a {
    filter: blur(5px);


}
.Contact-info ul {
    list-style: none;
}
.Contact-info a {
    font-size: 1rem;
    color:#FF6F00;
    text-decoration: none;

}
.Contact-info ul li {
    display: inline-block;
    margin: 10px;
}
footer {
    font-family: Courier, monospace;
}