/*adds a border around the whole webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets the color of the background*/
body {
    background-color: #ffffff;
}
.header nav {
    position: absolute;
    top: 10px;
    font-family: Courier, monospace;
    font-size: 30px;
}
.header nav ul {
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 350px;
    color: azure;
}
.header a {
    color: azure;
    text-decoration: none;
}
.header {
    position: relative;
}
.header img {
    width: 100%;
    height: auto;
}
.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: azure;
    font-family: Courier, monospace;
}

main {
    font-family: Courier, monospace;
}
article h2 {
    margin: 20px;
    color: #FF6F00;
    font-size: 50px;
    
    width: 400px;
}
article p {
    margin: 20px;
    font-size: 20px;
    
    width: 400px;

}
article ul {
    width: 400px;
    margin: 20px;
    list-style: none;
}
.page-grid {
    margin: 20px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,  1fr);
    grid-template-rows: repeat(3,  1fr);
    justify-items: center;
    
}
.Contact-info {
    grid-column-start: 2;
    grid-row-start: -2;
}
.Contact {
    grid-column-start: 1;
    grid-row-start: -2;
}
.Work-Grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    margin: 20px;

}
.Orange-SS {
    grid-column: span 2;
    grid-row: span 2;
    width: 640px;
    height: 390px;
}
.Sky-SS {
    width: 300px;
    height: 175px;
}
.Classified-SS {
    width: 300px;
    height: 175px;
}
.Horiseon-SS {
    width: 300px;
    height: 175px;
}
.PreWork-SS {
    width: 300px;
    height: 175px;
}
.Ytub-SS{
    width: 300px;
    height: 175px;
}